/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #963232;
    padding: 10px 20px;
}

/* Logo */
.logo {
    width: 60px;
}

/* Titre */
.header-text {
    flex: 1;
    text-align: center;
    color: white;
}

/* Menu à droite */
.nav-menu {
    display: flex;
    gap: 20px;
    background-color: #963232;
    justify-content: right; /* pousse le menu à droite */
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* Titre secondaire */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Labels */
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs */
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* textarea */
textarea {
    resize: none;
    height: 100px;
}

/* Boutons */
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Ajouter */
button[type="submit"] {
    background-color: rgb(100, 141, 100);
    color: white;
}

/* Reset */
button[type="reset"] {
    background-color: rgb(133, 66, 66);
    color: white;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    color: #666;
}