/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #963232;
    padding: 15px;
}

/* NAVIGATION */
.nav-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu a {
    color: rgb(65, 21, 21);
    text-decoration: none;
    font-weight: bold;
}

/* TITRE */
h2 {
    text-align: center;
    margin: 20px 0;
}

/* LISTE PROJETS */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

/* CARTE PROJET */
.project-item {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-5px);
}

/* IMAGE */
.project-item img {
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
}

/* BOUTONS */
.btn {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

/* Voir détails */
.btn-view {
    background-color: #2d89ef;
    color: white;
}

/* Supprimer */
.btn-delete {
    background-color: #e74c3c;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: #eee;
    color: #666;
}
a {
    pointer-events: auto;
}